html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

label {
  display: inherit;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
}

/* fonts */
@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  min-width: 1170px;
  background-color: #F1F1F1;
  font-family: "Muller", sans-serif;
  font-weight: 400;
}

/* global */
:root {
  --white-color: #fff;
  --custom-white-color: #E9E9E9;
  --black-color: #000;
  --light-gold-color: #F0BF5F;
  --gold-color: #CC9933;
  --dark-gold-color: #A47312;
  --light-gray-color: #999;
  --gray-color: #666;
  --dark-gray-color: #333;
}

:active,
:hover,
:focus {
  outline: none;
  outline-offset: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text {
  margin: 0;
  color: var(--black-color);
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  position: relative;
  outline: none;
  min-width: 100px;
  padding: 13px 20px;
  border: 1px solid var(--gold-color);
  border-radius: 10px;
  line-height: 1;
  background-color: transparent;
  color: var(--gold-color);
  font-size: 16px;
  transition: 1s ease;
}

.btn:focus {
  background-color: var(--gold-color);
  color: var(--white-color);
}

.btn:hover {
  background-color: var(--gold-color);
  color: var(--white-color);
  transition: background-color 0.3s ease-in-out, color 0.2s linear;
}

.btn:active {
  background-color: var(--dark-gold-color);
  color: var(--white-color);
  border-color: var(--dark-gold-color);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.container {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  color: var(--dark-gray-color);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

.input {
  border: none;
}

/* header */
.header-container {
  flex-direction: column;
  margin-top: 30px;
}

.container-top {
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

.container-top-left {
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  margin-right: 40px;
}

.header-phone {
  position: relative;
  color: var(--gray-color);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 20px;
  transition: 1s ease;
}

.header-phone:focus {
  outline-offset: 5px;
  outline: 1px solid var(--gold-color);
  color: var(--gold-color);
}

.header-phone:focus:not(:focus-visible) {
  outline: none;
}

.header-phone:hover {
  color: var(--gold-color);
  transition: color 0.2s linear;
}

.header-phone:active {
  color: var(--dark-gold-color);
}

.header-personal-area {
  display: flex;
  color: var(--gold-color);
  font-size: 16px;
  line-height: 16px;
  transition: 1s ease;
}

.header-personal-area svg {
  margin-right: 5px;
  fill: var(--gold-color);
  transition: 1s ease;
}

.header-personal-area:focus {
  outline-offset: 5px;
  outline: 1px solid var(--gold-color);
  color: var(--gold-color);
}

.header-personal-area:focus:not(:focus-visible) {
  outline: none;
}

.header-personal-area:hover {
  color: var(--light-gold-color);
  transition: color 0.2s linear;
}

.header-personal-area:hover svg {
  fill: var(--light-gold-color);
  transition: fill 0.2s linear;
}

.header-personal-area:active {
  color: var(--dark-gold-color);
}

.header-personal-area:active svg {
  fill: var(--dark-gold-color);
}

.container-bottom {
  align-items: center;
  justify-content: space-between;
  padding: 27px 45px;
  border-radius: 15px;
  background: var(--white-color);
}

.header-list-item:not(:last-child) {
  margin-right: 45px;
}

.header-link {
  position: relative;
  color: var(--gray-color);
  font-size: 16px;
  line-height: 16px;
  transition: 1s ease;
}

.header-link:focus {
  color: var(--gold-color);
  outline-offset: 5px;
  outline: 1px solid var(--gold-color);
}

.header-link:focus:not(:focus-visible) {
  outline: none;
}

.header-link:hover {
  color: var(--gold-color);
  transition: color 0.2s linear;
}

.header-link:active {
  color: var(--dark-gold-color);
}

/* special-offers */
.special-content {
  min-height: 540px;
}

.special-block {
  flex-direction: column;
  width: calc((100% - 24px) / 2);
}

.special-block:not(:last-child) {
  margin-right: 24px;
}

.special-item {
  position: relative;
  flex: 1;
  max-width: 573px;
  padding: 40px 234px 40px 40px;
  border-radius: 15px;
  margin-bottom: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.special-item:last-child {
  margin-bottom: 0;
}

.special-offers-title {
  margin: 0;
  margin-bottom: 15px;
  color: var(--white-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

.luxury-title {
  font-size: 60px;
  line-height: 60px;
}

.special-offers-text {
  display: block;
  margin-bottom: 47px;
  color: var(--white-color);
  opacity: 0.8;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}

.luxury-text {
  font-size: 30px;
  line-height: 30px;
}

.special-offers-link {
  display: flex;
  align-items: center;
  color: var(--light-gold-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}

.special-offers-link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.special-offers-link:focus::before {
  outline: 1px solid var(--light-gold-color);
  outline-offset: 8px;
}

.special-offers-link:focus:not(:focus-visible)::before {
  content: "";
  outline: none;
}

.special-offers-link svg {
  margin-left: 8px;
  fill: transparent;
  stroke: var(--light-gold-color);
  transition: 0.7s linear;
}

.special-offers-link:hover svg {
  margin-left: 24px;
  stroke: var(--light-gold-color);
  transition: margin-left 0.5s ease, stroke 0.2s linear;
}

.special-offers-link:active {
  color: var(--white-color);
}

.special-offers-link:active svg {
  stroke: var(--light-gold-color);
  margin-left: 8px;
}

.item-right {
  padding: 212px 229px 40px 45px;
}

.maldives {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offer-1.png");
  border-radius: 15px;
}

.crete {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offer-2.png");
  border-radius: 15px;
}

.luxury {
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offer-3.png");
  border-radius: 15px;
}

/* about us */
.about-us-content {
  width: 890px;
}

/* services */
.services-item {
  position: relative;
  width: 573px;
  margin: 0 24px 24px 0;
  border-radius: 15px;
  background: var(--white-color);
}

.services-item:nth-child(2n) {
  margin-right: 0;
}

.services-item:last-child {
  margin-right: 0;
}

.service-image {
  display: block;
}

.service-preview-content {
  padding: 26px 126px 35px 45px;
}

.service-title {
  margin: 0;
}

.service-link {
  display: flex;
  align-items: center;
  color: var(--gold-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  transition: color 0.5s linear;
}

.service-link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.service-link:focus::before {
  outline: 1px solid var(--light-gold-color);
  outline-offset: 8px;
}

.service-link svg {
  margin-left: 8px;
  stroke: var(--gold-color);
  transition: 0.7s linear;
}

.services-link:focus:not(:focus-visible) {
  outline: none;
}

.service-link:hover {
  color: var(--light-gold-color);
  transition: color 0.2s linear;
}

.service-link:hover svg {
  stroke: var(--light-gold-color);
  margin-left: 24px;
  transition: margin-left 0.5s ease, stroke 0.2s linear;
}

.service-link:active {
  color: var(--dark-gold-color);
}

.service-link:active svg {
  stroke: var(--gold-color);
  margin-left: 8px;
}

/* benefits */
.benefits-item {
  width: 276px;
  border-radius: 15px;
  margin: 0 22px 22px 0;
  background: var(--white-color);
}

.benefits-item:nth-child(4n) {
  margin-right: 0;
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-content {
  padding: 40px 42px 32px 45px;
}

.benefits-item-icon {
  display: inline-block;
  width: 67px;
  height: 66px;
  margin-right: 0;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}

/* accommodation */
.accommodation-item {
  width: 374px;
  border-radius: 15px;
  margin: 0 24px 24px 0;
  background: var(--white-color);
}

.accommodation-item:nth-child(3n) {
  margin-right: 0;
}

.accommodation-item:last-child {
  margin-right: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.inner-container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 32px 45px 45px;
}

.gray-text {
  color: var(--light-gray-color);
  line-height: 16px;
}

.price {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.accommodation-title {
  margin: 0;
  margin-bottom: 16px;
}

.accommodation-image {
  display: block;
}

.location-block {
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
}

.price-block {
  max-width: 140px;
}

.rating {
  flex-shrink: 0;
  align-self: flex-start;
  padding-top: 8px;
}

.location {
  display: block;
  margin-bottom: 20px;
}

.all-variants {
  position: relative;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/accommodation-9.png");
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.all-variants-link {
  align-self: flex-end;
  padding-right: 22px;
  margin-bottom: 27px;
  background-image: url('../img/link-icon-3.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  color: var(--white-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

.all-variants-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* want-tour */
.want-tour-title {
  padding-top: 45px;
  color: var(--black-color);
}

.want-tour-container {
  width: 1170px;
  padding-bottom: 45px;
  border-radius: 15px;
  background: var(--custom-white-color);
}

.form {
  justify-content: space-between;
  padding: 32px 28px;
  border-radius: inherit;
  margin: 0 45px;
  background: var(--white-color);
}

.input-list {
  align-items: center;
}

.input-item:not(:last-child) {
  margin-right: 41px;
}

.input-num {
  width: 121px;
  border-bottom: 1px solid var(--custom-white-color);
}

.search-btn {
  align-self: center;
}

/* contacts */
.contacts-container {
  padding: 45px;
  border-radius: 15px;
  background: var(--white-color);
}

.info {
  width: 375px;
  margin-right: 52px;
}

.office {
  width: 653px;
  min-height: 528px;
  border-radius: 10px;
  background-image: url(../img/office.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-area {
  width: 229px;
  line-height: 150%;
}

.info-item-title {
  width: 145px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.info-list {
  flex-direction: column;
  margin-bottom: 45px;
}

.info-item {
  padding-bottom: 23px;
  border-bottom: 1px solid var(--custom-white-color);
}

.info-item:not(:first-child) {
  padding-top: 25px;
}

.info-link {
  position: relative;
  color: var(--gold-color);
  transition: color 0.3s ease-in-out;
}

.info-link:focus {
  color: var(--gold-color);
  outline-offset: 5px;
  outline: 1px solid var(--gold-color);
}

.info-link:focus:not(:focus-visible) {
  outline: none;
}

.info-link:hover {
  color: var(--light-gold-color);
  transition: color 0.2s linear;
}

.info-link:active {
  color: var(--dark-gold-color);
}

.route-btn {
  padding: 27px 30px;
  transition: 0.7s linear;
}

.route-btn:hover {
  transform: scale(0.9, 1);
  padding: 27px 30px;
  transition: color 0.3s ease-in-out, transform 0.3s linear;
}

/* footer */
.footer-container {
  border-radius: 15px;
  margin-bottom: 30px;
  background: var(--dark-gray-color);
}

.footer-left {
  display: block;
  width: 30%;
  padding: 45px 0 45px 45px;
  margin-right: 125px;
}

.footer-text-1 {
  color: var(--white-color);
  line-height: 190%;
}

.footer-text-2 {
  color: var(--gold-color);
  line-height: 150%;
}

.footer-center {
  flex-direction: column;
  width: 521px;
  padding-top: 45px;
  margin-right: 107px;
}

.left-bottom-block {
  flex: 1;
  flex-direction: column;
  width: 48%;
  height: 266px;
}

.right-bottom-block {
  width: 52%;
  margin-top: 37px;
  background-image: url(../img/sun.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 254px 228px;
}

.social-area {
  flex-direction: column;
  min-width: 25px;
  padding-top: 45px;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link svg {
  fill: var(--light-gray-color);
  transition: 1s ease;
}

.social-link:focus svg {
  fill: var(--gold-color);
}

.social-link:hover svg {
  fill: var(--gold-color);
  transition: fill 0.2s linear;
}

.social-link:active svg {
  fill: var(--dark-gold-color);
}
